/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

/* reset default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */
body {
  background-color: #fcfcfc;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Istok Web", sans-serif;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


h1,h2,h3,h4,h5,h6,h8 {
  font-family: "RocknRoll One", sans-serif !important;
}

a {
  text-decoration: none;
  color: unset;
}
 h1,h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: rgb(19, 41, 75);  
 }

 section {
  padding: 60px 0px;
 }
