.Showpage{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

}



.show_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}